<a href="https://colab.research.google.com/github/Anna-Tereshchuk/ETL_with_Python_and_SQL/blob/main/Extract__transform_data_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


> Завантаження даних клієнтів з Excel файлу

In [11]:
employees = pd.read_excel('/content/H+ Sport Employees.xlsx', sheet_name='Employees-Table')



> Перегляд даних

In [12]:
print(employees.head())

      Employee Name Building Department     Status  Hire Date Month  Years  \
0        Page, Lisa     West        ADC  Full Time 1999-01-11   Jan     25
1    Taylor, Hector     West        ADC  Half-Time 2011-02-21   Feb     12
2  Dawson, Jonathan     West        ADC   Contract 2007-03-06   Mar     16
3      Duran, Brian     Taft        ADC     Hourly 2012-08-30   Aug     11
4      Weber, Larry   Watson        ADC  Full Time 2007-12-31   Dec     16

  Benefits  Salary  Job Rating  New Salary  Tax Rate  2.91%
0      DMR   24550           1         NaN       NaN    NaN
1       DM   26795           4         NaN       NaN    NaN
2      NaN   42540           5         NaN       NaN    NaN
3      NaN   35680           2         NaN       NaN    NaN
4        M   72830           2         NaN       NaN    NaN



>Вибір стовпців для видалення

In [13]:
columns_to_remove = ['Job Rating', 'New Salary', 'Tax Rate', '2.91%']



> метод `drop` для видалення зазначених стовпців

In [14]:
employees = employees.drop(columns=columns_to_remove)



> Перевірка оновленого DataFrame

In [15]:
print(employees.columns)

Index(['Employee Name', 'Building', 'Department', 'Status', 'Hire Date',
       'Month', 'Years', 'Benefits', 'Salary'],
      dtype='object')