<a href="https://colab.research.google.com/github/Anna-Tereshchuk/ETL_with_Python_and_SQL/blob/main/Loading_data_into_relational_databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


> Завантаження даних  з Excel файлу

In [11]:
employees = pd.read_excel('/content/H+ Sport Employees.xlsx', sheet_name='Employees-Table')



> Перегляд даних

In [12]:
print(employees.head())

      Employee Name Building Department     Status  Hire Date Month  Years  \
0        Page, Lisa     West        ADC  Full Time 1999-01-11   Jan     25
1    Taylor, Hector     West        ADC  Half-Time 2011-02-21   Feb     12
2  Dawson, Jonathan     West        ADC   Contract 2007-03-06   Mar     16
3      Duran, Brian     Taft        ADC     Hourly 2012-08-30   Aug     11
4      Weber, Larry   Watson        ADC  Full Time 2007-12-31   Dec     16

  Benefits  Salary  Job Rating  New Salary  Tax Rate  2.91%
0      DMR   24550           1         NaN       NaN    NaN
1       DM   26795           4         NaN       NaN    NaN
2      NaN   42540           5         NaN       NaN    NaN
3      NaN   35680           2         NaN       NaN    NaN
4        M   72830           2         NaN       NaN    NaN



>Вибір стовпців для видалення

In [13]:
columns_to_remove = ['Job Rating', 'New Salary', 'Tax Rate', '2.91%']



> метод `drop` для видалення зазначених стовпців

In [14]:
employees = employees.drop(columns=columns_to_remove)



> Перевірка оновленого DataFrame

In [15]:
print(employees.columns)

Index(['Employee Name', 'Building', 'Department', 'Status', 'Hire Date',
       'Month', 'Years', 'Benefits', 'Salary'],
      dtype='object')

In [16]:
from sqlalchemy import create_engine

In [19]:
DATABASE_URL = "postgresql://sql_engine_user:rzdZBwzXrwzvMAaepHFPMYXvYQQQ3431@dpg-cucb7n2j1k6c73b809lg-a.oregon-postgres.render.com/sql_engine"

# Створення підключення
engine = create_engine(DATABASE_URL)

try:
    connection = engine.connect()
    print("Успішно підключено до бази даних!")
    connection.close()
except Exception as e:
    print(f"Помилка підключення: {e}")

Успішно підключено до бази даних!

In [20]:
employees.to_sql('employees_cleaned', con=engine, if_exists='replace', index=False)
print("Дані завантажено до бази!")

Дані завантажено до бази!

**Перевірка даних у базі**

In [22]:
from sqlalchemy import text

# Перевіряємо, чи створені таблиці
with engine.connect() as conn:
    result = conn.execute(text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';"))
    for row in result:
        print(row)

('employees_cleaned',)



> Для перевірки перших записів у таблиці

In [23]:
# Переглядаємо перші 5 записів у таблиці
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM employees_cleaned LIMIT 5;"))
    for row in result:
        print(row)

('Page, Lisa', 'West', 'ADC', 'Full Time', datetime.datetime(1999, 1, 11, 0, 0), 'Jan', 25, 'DMR', 24550)
('Taylor, Hector', 'West', 'ADC', 'Half-Time', datetime.datetime(2011, 2, 21, 0, 0), 'Feb', 12, 'DM', 26795)
('Dawson, Jonathan', 'West', 'ADC', 'Contract', datetime.datetime(2007, 3, 6, 0, 0), 'Mar', 16, None, 42540)
('Duran, Brian', 'Taft', 'ADC', 'Hourly', datetime.datetime(2012, 8, 30, 0, 0), 'Aug', 11, None, 35680)
('Weber, Larry', 'Watson', 'ADC', 'Full Time', datetime.datetime(2007, 12, 31, 0, 0), 'Dec', 16, 'M', 72830)



> Підрахунок кількості записів

In [24]:
# Підрахунок кількості рядків у таблиці
with engine.connect() as conn:
    result = conn.execute(text("SELECT COUNT(*) FROM employees_cleaned;"))
    print("Кількість записів:", result.scalar())

Кількість записів: 741