<a href="https://colab.research.google.com/github/Anna-Tereshchuk/ETL_with_Python_and_SQL/blob/main/Understanding_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = {'Product': ['A', 'B', 'C', 'D', 'E'],
        'Customer': ['John', 'Anna', 'Peter', 'Linda', 'Tom'],
        'Time': ['2023-01-01 10:00', '2023-01-01 11:00', '2023-01-01 12:00', '2023-01-01 13:00', '2023-01-01 14:00']}
df = pd.DataFrame(data)

**Перегляд даних**

In [4]:
print(df.head())

  Product Customer              Time
0       A     John  2023-01-01 10:00
1       B     Anna  2023-01-01 11:00
2       C    Peter  2023-01-01 12:00
3       D    Linda  2023-01-01 13:00
4       E      Tom  2023-01-01 14:00

**Перегляд останніх рядків**

In [6]:
print(df.tail(1))

  Product Customer              Time
4       E      Tom  2023-01-01 14:00

**Кількість рядків та стовпців**

In [7]:
print(df.shape)

(5, 3)

**Інформація про структуру та вміст DataFrame**

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   5 non-null      object
 1   Customer  5 non-null      object
 2   Time      5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes
None

**Виявлення дублікатів**

In [9]:
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
dtype: bool

Розуміння структури даних, якості даних та необхідних трансформацій є важливим етапом у процесі ETL. Використання pandas дозволяє ефективно досліджувати та аналізувати дані.