<a href="https://colab.research.google.com/github/Anna-Tereshchuk/ETL_with_Python_and_SQL/blob/main/Understanding_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = {'Product': ['A', 'B', 'C', 'D', 'E'],
        'Customer': ['John', 'Anna', 'Peter', 'Linda', 'Tom'],
        'Time': ['2023-01-01 10:00', '2023-01-01 11:00', '2023-01-01 12:00', '2023-01-01 13:00', '2023-01-01 14:00']}
df = pd.DataFrame(data)

**Перегляд даних**

In [4]:
print(df.head())

  Product Customer              Time
0       A     John  2023-01-01 10:00
1       B     Anna  2023-01-01 11:00
2       C    Peter  2023-01-01 12:00
3       D    Linda  2023-01-01 13:00
4       E      Tom  2023-01-01 14:00

**Перегляд останніх рядків**

In [6]:
print(df.tail(1))

  Product Customer              Time
4       E      Tom  2023-01-01 14:00

**Кількість рядків та стовпців**

In [7]:
print(df.shape)

(5, 3)

**Інформація про структуру та вміст DataFrame**

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   5 non-null      object
 1   Customer  5 non-null      object
 2   Time      5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes
None

**Виявлення дублікатів**

In [9]:
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
dtype: bool

Розуміння структури даних, якості даних та необхідних трансформацій є важливим етапом у процесі ETL. Використання pandas дозволяє ефективно досліджувати та аналізувати дані.



> Завантаження CSV файлу

In [10]:
sample_data = pd.read_csv('/content/sample_data.csv')



> Перегляд даних перші 5 рядків

In [11]:
print(sample_data.head())

             Name                        Email                 Phone  \
0       Lisa West         andrew23@example.com         (465)852-8470
1      Jason Cole        kenneth05@example.net            7783540568
2     Juan Crosby          zbarnes@example.org   (676)328-6244x05295
3      April Ball  michaelmckinney@example.com  +1-633-685-4901x2113
4  Donald Jackson        peterdean@example.com          779-437-7643

                                             Address           City  \
0                   Unit 5183 Box 8914\nDPO AP 26775      Perezfort
1  73784 Kenneth Stream Apt. 200\nFitzgeraldshire...    Port Andrea
2          0580 Mary Row\nLake Vanessabury, GA 81529    Johnborough
3  6215 Hensley Pass Apt. 136\nSouth Patricia, MN...       New Eric
4     156 Macdonald Alley\nWest Scottmouth, MA 82872  Alyssaborough

        Country Date of Birth   Salary
0      Honduras    2001-08-05  83302.0
1       Bolivia    2012-12-04  31035.0
2  South Africa    1921-02-02  60226.0
3        Greece    2023-05-08  52502.0
4       Namibia    2019-03-07  38687.0

Останні п’ять рядків:

In [15]:
print(sample_data.tail())

                  Name                      Email                 Phone  \
195     Willie Shelton     jamesdavis@example.net      277-426-9077x821
196  Deborah Nicholson     michelle15@example.net     954-765-9968x1900
197         Vanessa Wu  reginaldowens@example.com  +1-682-798-1566x9050
198        Robyn Allen         chad33@example.org      212-239-3934x599
199      Scott Stewart      valerie39@example.com          956.897.0540

                                               Address           City  \
195         2277 Kathryn Cliffs\nDanielshire, VI 89502   East Michael
196    3179 Young Brooks Apt. 868\nScottberg, MI 16700     Port Linda
197        1820 Denise Forks\nEast Katieberg, IL 88289  Cassandraview
198  1162 Kathryn Extensions\nEast Larryfurt, MP 70273      Bruceberg
199              228 Adrian Pine\nNorth Sean, IL 20499  Alexandraside

         Country Date of Birth   Salary
195     Mongolia    2017-05-20  59788.0
196      Senegal    1963-07-25  61230.0
197       Israel    1929-01-18  70482.0
198         Iran    1941-05-17  73249.0
199  New Zealand    2019-09-30  81174.0



> Кількість рядків та стовпців

In [12]:
print(sample_data.shape)

(200, 8)



> Перевірка наявності дублікатів

In [13]:
print(sample_data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
195     True
196     True
197     True
198     True
199     True
Length: 200, dtype: bool


> Фільтрація дублікатів

In [14]:
duplicate_rows = sample_data[sample_data.duplicated()]
print(duplicate_rows)

                   Name                        Email                 Phone  \
28           Amy Parker  zavalacatherine@example.com            8463043459
29        Carlos Mcneil       hilljoshua@example.com          616-938-0801
30         Tammy Murphy    susanfranklin@example.com    879.671.4238x85134
31   Brittany Rodriguez    thomasgregory@example.net     597.808.5306x8158
32        Scott Stewart        valerie39@example.com          956.897.0540
33       Willie Shelton       jamesdavis@example.net      277-426-9077x821
34    Deborah Nicholson       michelle15@example.net     954-765-9968x1900
35           Vanessa Wu    reginaldowens@example.com  +1-682-798-1566x9050
36          Robyn Allen           chad33@example.org      212-239-3934x599
73           Amy Parker  zavalacatherine@example.com            8463043459
74        Carlos Mcneil       hilljoshua@example.com          616-938-0801
75         Tammy Murphy    susanfranklin@example.com    879.671.4238x85134
76   Brittany Rodriguez    thomasgregory@example.net     597.808.5306x8158
77        Scott Stewart        valerie39@example.com          956.897.0540
78       Willie Shelton       jamesdavis@example.net      277-426-9077x821
79    Deborah Nicholson       michelle15@example.net     954-765-9968x1900
80           Vanessa Wu    reginaldowens@example.com  +1-682-798-1566x9050
111          Amy Parker  zavalacatherine@example.com            8463043459
190          Amy Parker  zavalacatherine@example.com            8463043459
191       Carlos Mcneil       hilljoshua@example.com          616-938-0801
192        Tammy Murphy    susanfranklin@example.com    879.671.4238x85134
193  Brittany Rodriguez    thomasgregory@example.net     597.808.5306x8158
194       Scott Stewart        valerie39@example.com          956.897.0540
195      Willie Shelton       jamesdavis@example.net      277-426-9077x821
196   Deborah Nicholson       michelle15@example.net     954-765-9968x1900
197          Vanessa Wu    reginaldowens@example.com  +1-682-798-1566x9050
198         Robyn Allen           chad33@example.org      212-239-3934x599
199       Scott Stewart        valerie39@example.com          956.897.0540

                                               Address                City  \
28   78272 Garcia Canyon Suite 357\nPort Debbievill...  Lake Calvinborough
29        5981 Romero Alley\nPort Meganmouth, MA 18811        Anthonyburgh
30       885 Kelly Club Apt. 350\nNew Alicia, CT 25171  Lake Brittanyburgh
31              6650 Chris Radial\nMurphyton, WY 24038          Aaronville
32               228 Adrian Pine\nNorth Sean, IL 20499       Alexandraside
33          2277 Kathryn Cliffs\nDanielshire, VI 89502        East Michael
34     3179 Young Brooks Apt. 868\nScottberg, MI 16700          Port Linda
35         1820 Denise Forks\nEast Katieberg, IL 88289       Cassandraview
36   1162 Kathryn Extensions\nEast Larryfurt, MP 70273           Bruceberg
73   78272 Garcia Canyon Suite 357\nPort Debbievill...  Lake Calvinborough
74        5981 Romero Alley\nPort Meganmouth, MA 18811        Anthonyburgh
75       885 Kelly Club Apt. 350\nNew Alicia, CT 25171  Lake Brittanyburgh
76              6650 Chris Radial\nMurphyton, WY 24038          Aaronville
77               228 Adrian Pine\nNorth Sean, IL 20499       Alexandraside
78          2277 Kathryn Cliffs\nDanielshire, VI 89502        East Michael
79     3179 Young Brooks Apt. 868\nScottberg, MI 16700          Port Linda
80         1820 Denise Forks\nEast Katieberg, IL 88289       Cassandraview
111  78272 Garcia Canyon Suite 357\nPort Debbievill...  Lake Calvinborough
190  78272 Garcia Canyon Suite 357\nPort Debbievill...  Lake Calvinborough
191       5981 Romero Alley\nPort Meganmouth, MA 18811        Anthonyburgh
192      885 Kelly Club Apt. 350\nNew Alicia, CT 25171  Lake Brittanyburgh
193             6650 Chris Radial\nMurphyton, WY 24038          Aaronville
194              228 Adrian Pine\nNorth Sean, IL 20499       Alexandraside
195         2277 Kathryn Cliffs\nDanielshire, VI 89502        East Michael
196    3179 Young Brooks Apt. 868\nScottberg, MI 16700          Port Linda
197        1820 Denise Forks\nEast Katieberg, IL 88289       Cassandraview
198  1162 Kathryn Extensions\nEast Larryfurt, MP 70273           Bruceberg
199              228 Adrian Pine\nNorth Sean, IL 20499       Alexandraside

          Country Date of Birth   Salary
28         Serbia    2001-02-21  54869.0
29   Burkina Faso    1927-07-16  82122.0
30        Namibia    1999-09-24  75999.0
31       Cambodia    1988-12-15  70911.0
32    New Zealand    2019-09-30  81174.0
33       Mongolia    2017-05-20  59788.0
34        Senegal    1963-07-25  61230.0
35         Israel    1929-01-18  70482.0
36           Iran    1941-05-17  73249.0
73         Serbia    2001-02-21  54869.0
74   Burkina Faso    1927-07-16  82122.0
75        Namibia    1999-09-24  75999.0
76       Cambodia    1988-12-15  70911.0
77    New Zealand    2019-09-30  81174.0
78       Mongolia    2017-05-20  59788.0
79        Senegal    1963-07-25  61230.0
80         Israel    1929-01-18  70482.0
111        Serbia    2001-02-21  54869.0
190        Serbia    2001-02-21  54869.0
191  Burkina Faso    1927-07-16  82122.0
192       Namibia    1999-09-24  75999.0
193      Cambodia    1988-12-15  70911.0
194   New Zealand    2019-09-30  81174.0
195      Mongolia    2017-05-20  59788.0
196       Senegal    1963-07-25  61230.0
197        Israel    1929-01-18  70482.0
198          Iran    1941-05-17  73249.0
199   New Zealand    2019-09-30  81174.0